# OS / Editor
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
.idea/
.vscode/
.history/

# Node
node_modules/
dist/
coverage/

# Python
__pycache__/
.pytest_cache/
.venv/
venv/
*.pyc

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# Misc
.env
.env.*
.DS_Store